*,
*::after,
*::before {
	box-sizing: border-box;
}
.navbar{
   margin-bottom: 0!important;
}

body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	color: #57585c;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

 // height: 150px;
.App-header {
  background-color: #222;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.content {
	width: 100%;
	height: 100vh;
    background-image: url('./img/20170704_182759.jpg');
    background-size: cover;
}

.content__inner {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content__title {
	font: 200 6vw/1 'Spectral', serif; 
	color: #ffffff;	
    margin: 0;
	line-height: 1;
}

.content__title--filled {
	padding: 0.25em 0.5em;
}

.content__title span {
	display: inline-block;
}

.content__subtitle {
	font: #002068; 
	font-size: 3.5em;
	color: #222; 
	padding: 0.5em 0 0 0;
	margin: 0;
}
.enter, .explore {
	margin: 6vh 0 0 0;
	font-size: 1em;
	letter-spacing: 3px;
	cursor: pointer;
	font-weight: bold;
	white-space: pre;
	color: #fff;
	pointer-events: auto;
}
